<main>
        <section class="games">
            <section class="text_games ">
                <h1 class="logoh1">Find Your Next Games</h1>
                <p class="phrase">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, ratione! Repellat aspernatur a reiciendis, culpa non tenetur optio veritatis quibusdam. Esse enim numquam.
                </p>
            </section>
            <section class="game-group">
                <ul>
                    <li class='game'>
                        <img src='https://i.pinimg.com/originals/5c/09/09/5c0909173a1524c8270bf87557e1a7c6.jpg' />
                    </li>
                </ul>

            </section>
        </section>
                <section class="album py-5 homeCards">
                    <section class="container">
                        <section class="row">
                           
                                <form class="form-details" action="/game-details" method="post">
                                    <section class="ContainerGame ">
                                            <section class="gamesDiv">
                                                <ul>
                                                        <li class='game gameCard'>
                                                            <img src='https://i.pinimg.com/originals/5c/09/09/5c0909173a1524c8270bf87557e1a7c6.jpg' />
                                                        </li>
                                                </ul>
                                                        <h5 class="card-title">Thinking, fast and slow</h5>
                                                        <span class=" mb-2 text-muted">By:  Rockstar </span>
                                                        <span class=" mb-2 ">Publication:  2011</span>
                                                        <span class=" mb-2 ">Country Publisher:  United States</span>
                                            </section>
                                    </section>
                                </form>
                        </section>   
                    </section>
                </section>
                </section>
            </section>
        </section>
</main>