<main>
        <section class="games game-info">
            <section class="text_games ">
                <h1 class="logoh1">Find Your Next Games</h1>
                <p class="phrase">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, ratione! Repellat aspernatur a reiciendis, culpa non tenetur optio veritatis quibusdam. Esse enim numquam.
                </p>
            </section>
            <section class="game-group">
                <ul>
                    <li class='game-li'>
                        <img class="cover-img" src='https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mwiii/MWIII-REVEAL-FULL-TOUT.jpg' />
                    </li>
                </ul>
            </section>
        </section>
                    <section class="album py-5 homeCards">
                        <section class="container">
                            <section class="row">
                                    <form class="form-details" action="/game-details" method="post">
                                        {{#each game}}  
                                            <section class="ContainerGame ">
                                                        <section class="card card_index">
                                                            <img class="card-img-top" src="{{game.imgUrl}}" alt="Card image cap">
                                                                <section class="card-body">
                                                                    <h5 class="card-title">{{game.nameGame}}</h5>
                                                                    <span class="mb-2 publication_text">Publication:  {{game.publication}}</span>                   
                                                                </section>
                                                        </section>
                                                
                                            </section>
                                        {{/each}}
                                    </form>
                            </section>   
                        </section>
                    </section>
                </section>
            </section>
        </section>
</main>