<main>
        <section class="games game-info">
            <section class="text_games ">
                <h1 class="logoh1">Find Your Next Games</h1>
                <p class="phrase">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, ratione! Repellat aspernatur a reiciendis, culpa non tenetur optio veritatis quibusdam. Esse enim numquam.
                </p>
            </section>
            <section class="game-group">
                <ul>
                    <li class='game-li'>
                        <img class="cover-img" src='https://i.pinimg.com/originals/5c/09/09/5c0909173a1524c8270bf87557e1a7c6.jpg' />
                    </li>
                </ul>
            </section>
        </section>
                <section class="album py-5 homeCards">
                    <section class="container">
                        <section class="row">
                                <form class="form-details" action="/game-details" method="post">
                                    <section class="ContainerGame ">
                                            
                                            <section class="card card_index">
                                                <img class="card-img-top" src="https://i.pinimg.com/originals/5c/09/09/5c0909173a1524c8270bf87557e1a7c6.jpg" alt="Card image cap">
                                                    <section class="card-body">
                                                        <h5 class="card-title">Grand Theft auto 5</h5>
                                                        <span class=" mb-2 text-muted">By:  Rockstar </span>
                                                        <span class="mb-2 publication_text">Publication:  2013</span>                   
                                                    </section>
                                            </section>

                                           
                                    </section>
                                </form>
                        </section>   
                    </section>
                </section>
                </section>
            </section>
        </section>
</main>